FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY= "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"
